@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello!!!</h1>
</div>

<h1>My Music Site</h1>

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/dbB-mICjkQM"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
</iframe>

<div id="animation-box"></div>
