@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>My Web Project</h1>

<iframe width="560" height="315"
        src="https://www.youtube.com/embed/dbB-mICjkQM"
        title="YouTube video player"
        frameborder="0"
        allowfullscreen>
</iframe>

<div id="animation-box"></div>

<script src="~/js/site.js"></script>
